PORT=3000
PROVIDER_ONE_URL=http://localhost:3001
PROVIDER_TWO_URL=http://localhost:3002

# Interest calculation reference date (YYYY-MM-DD)
INTEREST_REFERENCE_DATE=2024-05-10

# Circuit breaker
CB_TIMEOUT_MS=5000
CB_ERROR_THRESHOLD_PERCENTAGE=50
CB_VOLUME_THRESHOLD=3
CB_RESET_TIMEOUT_MS=15000
CB_ROLLING_COUNT_TIMEOUT_MS=10000
CB_ROLLING_COUNT_BUCKETS=10
