# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
build/

# typescript
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# turbo
.turbo/

# test / coverage
coverage/
.nyc_output/

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
